:root {
	// FONTS
	--font-family: 'Schibsted Grotesk', sans-serif;

	--font-weight-thin: 100;
	--font-weight-extraLight: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extraBold: 800;
	--font-weight-black: 900;

	--font-size: 1rem;
	--font-size-h6: 1.25rem;
	--font-size-h5: 1.5rem;
	--font-size-h4: 1.75rem;
	--font-size-h3: 2rem;
	--font-size-h2: 2.5rem;
	--font-size-h1: 3rem;

	// COLORS
	--color-background: var(--color-white);
	--color-background-secondary: var(--color-neutral-50);

	--color-text: var(--color-black);
	--color-text-secondary: var(--color-neutral-500);
	--color-text-inverted: var(--color-white);

	--color-skeleton: var(--color-neutral-300);

	--color-primary-50: var(--color-sky-50);
	--color-primary-100: var(--color-sky-100);
	--color-primary-200: var(--color-sky-200);
	--color-primary-300: var(--color-sky-300);
	--color-primary-400: var(--color-sky-400);
	--color-primary-500: var(--color-sky-500);
	--color-primary-600: var(--color-sky-600);
	--color-primary-700: var(--color-sky-700);
	--color-primary-800: var(--color-sky-800);
	--color-primary-900: var(--color-sky-900);

	// OTHERS
	--border-radius: 1rem;
	--border-radius-full: 999px;
	--border-color: var(--color-neutral-200);
	--border-width: 1px;
}
