:root {
	// FONTS
	--font-primary: 'Schibsted Grotesk', sans-serif;

	--font-size-h1: 3rem;
	--font-size-h2: 2.25rem;
	--font-size-h3: 1.5rem;
	--font-size-h4: 1.25rem;
	--font-size-p: 1rem;

	// COLORS
	--background-color: var(--color-white);
	--text-color-h1: var(--color-black);
	--text-color-h2: var(--color-black);
	--text-color-h3: var(--color-black);
	--text-color-h4: var(--color-black);
	--text-color-p: var(--color-black);

	// OTHERS
	--border-radius: 1rem;
	--border-color: something,
	--border-width: 1px,
}
