.chatInput {
	display: grid;
	gap: 0.5rem;
	padding: 0.5rem;
	grid-template-columns: 1fr auto;
	user-select: none;
}

.sendButton {
	color: var(--color-primary-600) !important;
	margin: auto 0 0.5rem;
	background-color: transparent;
	border-width: 0;
	outline: 0;
}
