@import "../../app/index.scss";

.header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.75rem 0.5rem;
	// border-bottom: 1px solid var(--border-color);
}

.avapic {
	$size: 2.25rem;
	width: $size;
	height: $size;
	background-color: var(--color-skeleton);
	border-radius: var(--border-radius-full);
}

.projectName {
	font-size: var(--font-size-h6);
	font-weight: var(--font-weight-semibold);
}
