@import "../../app/index.scss";

.header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	// border-bottom: 1px solid var(--border-color);
	user-select: none;
	height: 3.75rem;
}

.projectName {
	font-size: var(--font-size-h6);
	font-weight: var(--font-weight-semibold);
}
