.item {
	border-top: 1px solid var(--border-color);
	padding: 0.5rem 0.5rem;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5rem;
	user-select: none;
}

.nameBlock {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.name {
	font-size: var(--font-size);
	font-weight: var(--font-weight-semibold);
	color: var(--color-text);
}

.lastMessage {
	font-size: var(--font-size);
	color: var(--color-text-secondary);
}