.textarea {
	border-width: 0;
	outline: 0;
	background-color: var(--color-neutral-200);
	padding: 0.75rem 1rem;
	border-radius: var(--border-radius);
	font-family: var(--font-family);
	font-size: var(--font-size-p);
	resize: none;
}
